*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    background-color: #696969;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-rows: 15% 83%;
    grid-template-columns: 30% 68%;
    grid-template-areas: "tela tela" "blank botoes";
    border: 1px solid black;
    margin: 0;
    width: 50%;
    min-width: 600px;
    height: 70%;
    padding: 6px;
    gap: 10px;
}
.botoes div{
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #e8eaed;
    border-radius: 8px;
}
.botoes > div{ /* pra fazer os efeitos dos botoes */
cursor: pointer;
}

.botoes{
    grid-area: botoes;
    height: 100%;
    gap: 10px;
}
.blank{
    grid-area: blank;
    
}
.tela{
    text-align: end;
    font-size: 30px;
    padding: 3px;
    grid-area: tela;
    border: 1px solid #3c4043;
    border-radius: 8px;
    color:#e8eaed;
}